.box_left{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0%;
    left: 6%;
}
.box_ar{
    position: absolute;
    width: 33%;
    height: 50%;
    top: 0%;
    left: 66%;
    background: #000;
}
.box_right{
    position: absolute;
    width: 33%;
    height: 50%;
    top: 50%;
    left: 66%;
    background: #0095ff;
}
#question_form{
    position: relative;
    left: 30%;
}
.divCss{
	
    margin-bottom: 10px;
    
}
.olCss{
	padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 40px;
}
.inputClass {
	float:left;
	margin-left: -50px;
}
.liRight {
	
}
#question_button{
    width: 85%;
    display: block;
    margin: 0 auto;
    outline: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    border-radius: 2px;
    color: #fff;
    background: #0095ff;
}
