db.sqlite3
test.avi
.DS_Store
VideoData/2022_*
VideoData/time
FMEDetection/
FERMoudle/
ARPictureBook/migrations/__pycache__
PaddleDetection/
MindSystemBackend/settings.py
__pycache__/
ARPictureBook/static/cartoon/cartoon_first.avi
PlayVideo/temp.html