db.sqlite3
test.avi
.DS_Store
VideoData/2022_*
FMEDetection/
PaddleDetection/
MindSystemBackend/settings.py
ARPictureBook/__pycache__/*
ARPictureBook/static/cartoon/cartoon_first.avi
PlayVideo/temp.html