astroid==2.11.7
colorama==0.4.5
comtypes==1.1.13
dill==0.3.5.1
Django==2.2.27
django-sslserver==0.22
flake8==5.0.4
isort==5.10.1
keyboard==0.13.5
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.23.1
opencv-python==4.6.0.66
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
pygame==2.1.2
pykinect2==0.1.0
pylint==2.14.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
PyMySQL==1.0.2
python3-pip-autoremove==0.9.1
pytz==2022.2.1
sqlparse==0.4.2
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.3.0
wincertstore==0.2
wrapt==1.14.1
