{% extends './base_navbar.html' %}
{% load static %}
{% load static %}
{% block content %}
    <form id="choose_mode_form">
        {% csrf_token %}
        Choose Yor Mode:
        <input type="radio" name="mode" value="Testing" checked="checked" />A
        <input type="radio" name="mode" value="Production" />B
        <input type="radio" name="mode" value="Extra" />C
        <button id="choose_mode_submit" type="button" class="btn btn-primary float-right">
            Submit
        </button>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static "js/pagejs/choose_mode.js" %}"></script>
{% endblock %}
