{% extends './base_navbar.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
<div class="left">
    <h1 class="mb-4">AR × Empathy 系统评估实验</h1>
    <p class="lead">华东师范大学计算机科学与技术学院</p>
</div>
<form action='' method="POST" class="d-grid col-3 form" >    
    <h2 class="mb-4">Log in</h2>
    {% csrf_token %}
    <div class="mb-3">
        <label for="un" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control" id="un" tabindex="1" placeholder="输入用户名" required spellcheck="false" data-ms-editor="true">
        <!-- <div>{{user_form.username}}</div> -->
    </div>
    <div class="mb-5">
        <label for="pd" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control" id="pd" tabindex="2" autocomplete="off" placeholder="输入密码" required>
        <!-- <div>{{user_form.password}}</div> -->
    </div>
    <button class="btn btn-primary" type="submit">Log in</button>
</form>
    
{% if message %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
{% endif %}
{% endblock %}
