{% extends "./base_question.html" %}
{% load static %}
{% block extra_script %}
    <link rel="stylesheet" href="{% static "css/question_s1.css" %}" />
{% endblock extra_script %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-sm-8 box_left">
            <!-- ar代码 -->
            <a-scene
                mindar-image="imageTargetSrc: https://raw.githubusercontent.com/weiqingv/ARedu/main/minds/lion.mind;uiError:no; uiLoading:no; uiScanning:no;"
                color-space="sRGB"
                renderer="colorManagement: true, physicallyCorrectLights"
                vr-mode-ui="enabled: false"
                device-orientation-permission-ui="enabled: false"
                >
                <a-assets>
                    <a-asset-item
                        id="bearModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Angry.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="trexModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Fear.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="raccoonModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Happy.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="bearModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Hate.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="trexModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Sad.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="raccoonModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Surprise.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="raccoonModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Stand.gltf"
                        >
                    </a-asset-item>
                </a-assets>
                <a-camera position="0 0 0" look-controls="enabled: false" id="camera">
                </a-camera>
                <a-entity mindar-image-target="targetIndex: 0">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#bearModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 1">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#trexModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 2">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 3">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 4">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 5">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 6">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
            </a-scene>
        </div>
        <!-- ar代码 -->
        <div class="col-lg-4 col-sm-4 box_right">
            <div class="box_right_container">
                <form id="question_form">
                    <div class="question_title">
                        <div class="question_class">单选题</div>
                        <div class="question_text">根据大屏幕中视频，判断并选择视频中人物的情绪</div>
                    </div>
                    <div class="question_option">
                        <ul start="" class="olCss" name="single">
                            <li class="answer">
                                <input id="emotion_a"
                                       class="inputClass"
                                       type="radio"
                                       name="place1"
                                       value="A"/>
                                <label for="emotion_a" class="liRight">A. 快乐</label>
                            </li>
                            <li class="answer">
                                <input id="emotion_b"
                                       class="inputClass"
                                       type="radio"
                                       name="place1"
                                       value="B"/>
                                <label for="emotion_b" class="liRight">B. 悲伤</label>
                            </li>
                            <li class="answer">
                                <input id="emotion_c"
                                       class="inputClass"
                                       type="radio"
                                       name="place1"
                                       value="C"/>
                                <label for="emotion_c" class="liRight">C. 愤怒</label>
                            </li>
                            <li class="answer">
                                <input id="emotion_d"
                                       class="inputClass"
                                       type="radio"
                                       name="place1"
                                       value="D"/>
                                <label for="emotion_d" class="liRight">D. 恐惧</label>
                            </li>
                            <li class="answer">
                                <input id="emotion_e"
                                       class="inputClass"
                                       type="radio"
                                       name="place1"
                                       value="E"/>
                                <label for="emotion_e" class="liRight">E. 厌恶</label>
                            </li>
                            <li class="answer">
                                <input id="emotion_f"
                                       class="inputClass"
                                       type="radio"
                                       name="place1"
                                       value="F"/>
                                <label for="emotion_f" class="liRight">F. 惊奇</label>
                            </li>
                        </ul>
                    </div>
                </form>
                <button type="button" id="question_button">确定提交</button>
            </div>
        </div>
    </div>
    <div id="page_round" style="display: none">s4</div>
{% endblock content %}
