{% extends './base_self_report.html' %}
{% load static %}
{% block extra_script %}
    <link rel="stylesheet" href="{% static "css/question_s1.css" %}" />
{% endblock extra_script %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-sm-8 box_left">
        <!-- ar代码 -->
        <a-scene
                mindar-image="imageTargetSrc: https://raw.githubusercontent.com/weiqingv/ARedu/main/minds/lion.mind;uiError:no; uiLoading:no; uiScanning:no;"
                color-space="sRGB"
                renderer="colorManagement: true, physicallyCorrectLights"
                vr-mode-ui="enabled: false"
                device-orientation-permission-ui="enabled: false"
                >
                <a-assets>
                    <a-asset-item
                        id="bearModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Angry.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="trexModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Fear.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="raccoonModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Happy.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="bearModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Hate.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="trexModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Sad.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="raccoonModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Surprise.gltf"
                        >
                    </a-asset-item>
                    <a-asset-item
                        id="raccoonModel"
                        src="https://raw.githubusercontent.com/weiqingv/ARedu/main/models/father/F_Stand.gltf"
                        >
                    </a-asset-item>
                </a-assets>
                <a-camera position="0 0 0" look-controls="enabled: false" id="camera">
                </a-camera>
                <a-entity mindar-image-target="targetIndex: 0">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#bearModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 1">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#trexModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 2">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 3">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 4">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 5">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
                <a-entity mindar-image-target="targetIndex: 6">
                    <a-gltf-model
                        rotation="0 0 0 "
                        position="0 -0.25 0"
                        scale="0.50 0.50 0.50"
                        src="#raccoonModel"
                        animation-mixer
                        >
                    </a-gltf-model>
                </a-entity>
            </a-scene>
    </div>
    <!-- ar代码 -->
    <div class="col-lg-4 col-sm-4 box_right">
        <form id="question_form">
            <div class="question_title">
                <span class="badge rounded-pill bg-primary">多选题</span>
                <div class="fs-2 fw-bold lh-base question_text">你根据什么做出如上判断的？</div>
            </div>
            <ul start="" class="question_option" name="single">
                <li class="answer">
                    <input id="emotion_a"
                            class="btn-check"
                            type="checkbox"
                            name="place1"
                            value="A"/>
                    <label for="emotion_a" class="btn btn-outline-primary btn-lg answer-label">A. 视频人物的表情</label>
                </li>
                <li class="answer">
                    <input id="emotion_b"
                            class="btn-check"
                            type="checkbox"
                            name="place1"
                            value="B"/>
                    <label for="emotion_b" class="btn btn-outline-primary btn-lg answer-label">B. 视频中的背景</label>
                </li>
                <li class="answer">
                    <input id="emotion_c"
                            class="btn-check"
                            type="checkbox"
                            name="place1"
                            value="C"/>
                    <label for="emotion_c" class="btn btn-outline-primary btn-lg answer-label">C. 我自己的相关经历</label>
                </li>
                <li class="answer">
                    <input id="emotion_d"
                            class="btn-check"
                            type="checkbox"
                            name="place1"
                            value="D"/>
                    <label for="emotion_d" class="btn btn-outline-primary btn-lg answer-label">D. 其他线索</label>
                    <textarea name="other_info" type='text' class="form-control form-control-lg other-info-input" style="margin-top: 40px;" placeholder='输入你的线索'></textarea>
                </li>
            </ul>
        </form>
        <button type="button" id="self_report_button" class="btn btn-primary btn-lg">确定提交</button>
    </div>
</div>
<!-- <button id='self_report_button'>下一步</button> -->
<div id="page_round" style="display: none">s2</div>
<script>
    var otherInfoInputVisible = false;
    $(document).ready(function () {
        $('input[type=checkbox][name=place1]').change(function () {
            if (this.value === 'D') {
                if (otherInfoInputVisible) {
                    $('.other-info-input').hide();
                    otherInfoInputVisible = false;
                } else {
                    $('.other-info-input').show();
                    otherInfoInputVisible = true;
                }
            }
        });
    });
</script>
{% endblock %}