{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>迷你音乐播放器</title>
    <!-- 字体图标库 -->
    <link rel="stylesheet" href="{% static "fonts/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/smooth_music.css" %}">
</head>

<body>
    <div class="container">
        <div class="bg"></div>
        <div class="bg-mask">
            <div class="guidance">
                <button id="next_page"  class="btn_next_page" disabled>当你心情平复后点击这个按钮</button>
                <button id="top_tip"  class="btn_top_tip">听会儿音乐吧！</button>
            </div>
        </div>
        <div class="player">
            <div class="player-track">
                <div class="album-name">『天気の子』のテーマ</div>
                <div class="track-name">RADWIMPS - 『天気の子』のテーマ</div>
                <div class="track-time">
                    <div class="current-time">00:00</div>
                    <div class="total-time">03:50</div>
                </div>
                <div class="progress-box">
                    <div class="hover-time">00:36</div>
                    <div class="hover-bar"></div>
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="player-content">
                <div class="album-cover">
                    <img src="{% static "mp3/cover/海报1.jpg" %}" alt="" class="active">
                    <img src="{% static "mp3/cover/海报1.jpg" %}" alt="">
                    <img src="{% static "mp3/cover/海报1.jpg" %}" alt="">
                    <img src="{% static "mp3/cover/海报1.jpg" %}" alt="">
                    <img src="{% static "mp3/cover/海报2.jpg" %}" alt="">
                </div>
                <div class="play-controls">
                    <div class="control">
                        <div class="button play-prev">
                            <i class="fa fa-step-backward"></i>
                        </div>
                    </div>
                    <div class="control">
                        <div class="button play-pause">
                            <i class="fa fa-play"></i>
                        </div>
                    </div>
                    <div class="control">
                        <div class="button play-next">
                            <i class="fa fa-step-forward"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="uaid" style="display: none">{{uaid}}</div>
    <div id="round_num" style="display: none">{{round_num}}</div>
    <div id="page_round" style="display: none">{{page_round}}</div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/pagejs/smooth_music.js" %}"></script>
</body>

</html>